@import url(../vendor/fonts/fonts.css);


/* общие свойства */
.page {
  /* background-color: #000; */
  height: 100%;
  box-sizing: border-box;
  font-family: 'Segoe UI Regular';
  margin: 0;
  padding: 0;
}

.page__container {
  height: 100%;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
/* общие свойства */


.button {
  border: none;
  border-radius: 9999px;
  height: 35px;
  min-width: 148px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/* header */
.header {
  color: #fff;
  background-color: #000;
  margin: 0;
  padding: 0;
}

.header__link {
  text-decoration: none;
  color: #fff;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1;
  letter-spacing: 1.04px;
  display: inline-block;
}

.header__aside {
  display: flex;
  justify-content: space-between;
  height: 60px;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 24px;
  padding: 0;
  text-transform: uppercase;
}

.header__logo {
  padding: 0;
  margin: 0;
  /* display: block;
  object-position: center; */
}

.aside__container > .header__link {
  margin: 0 40px 0 0;
  padding: 0;
}

.aside__container {
  display: flex;
  align-items: center;
}

.header__nav {
  margin: 0;
  padding: 0;
}

.header__socian {
  margin: 0 24px 0 0;
  padding: 0;
  user-select: none;
}

.header__nav > .header__link {
  margin-right: 24px;
}

.header__socian + .header__nav > .header__link {
  margin-right: 16px;
}

.header__socian > .header__link {
  padding: 0 8px;
}

.header-back {
  background-color: #000;
  background-image: url('../images/headerBackground.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 740px;
}

.header__slogan {
  margin: 0 auto 235px;
  padding: 125px 0 0;
  font-weight: 400;
  font-size: 115px;
  line-height: 1.04;
  text-align: center;
  max-width: 1210px;
  user-select: none;
}
/* header */



/* main */
.content {
  box-sizing: border-box;
  /* user-select: none; */
}

.block_background-black {
  background-color: #000;
  color: #fff;
}

.blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  box-sizing: border-box;
}

.block {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 740px;
  width: 640px;
}


.block__caption {
  font-weight: 400;
  font-size: 39px;
  line-height: 1.12;
  text-transform: uppercase;
  margin: 222px 112px 28px;
  padding: 0;
  max-width: 333px;
}

.block__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  max-width: 416px;
  margin: 0 112px 38px;
  padding: 0;
}

.block__button {
  background-color: #000;
  color: #fff;
  margin: 0 112px 0;
}

.block__title {
  font-weight: 400;
  font-size: 109px;
  line-height: 1.41;
  text-align: center;
  margin: 292px auto;
  padding: 0;
}

.block:nth-child(1) {
  background-color: #4A00FF;
  color: #fff;
}

.block:nth-child(4) {
  background-color: #00FF9D;
  color: #000;
}

.block:nth-child(5) {
  background-color: #FF8B00;
  color: #000;
}

.block:nth-child(5) > .block__button {
  width: 229px;
}
/* blokcs */




/* carusel */
.carusel {
  /* height: 954px; */
  background-color: #000;
  margin: 0;
  color: #fff;
  padding: 48px 0 0;
  overflow: hidden;
}

.carusel__title {
  font-weight: 400;
  font-size: 68px;
  line-height: 1.05;
  margin: 0 88px 58px 0;
  padding: 0;
  text-align: right;
}

.slider {
  box-sizing: border-box;
  /* width: 100%; */
  margin: 0 24px 48px;
  padding: 0;
  display: flex;
  column-gap: 24px;
  /* flex-wrap: wrap; */
  transition: all .6s linear;
}

.slide {
  min-width: 450px;
  height: 600px;
  position: relative;
  box-sizing: border-box;
}

.slide__img {
  width: 100%;
  height: 100%;
  display: block;
}

.slide__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 39px;
  line-height: 1.12;
  position: absolute;
  bottom: 126px;
  left: 32px;
}

.slide__subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 26px;
  left: 32px;
}

.slider__navigation {
  margin: 0 0 0 24px;
  padding: 0 0 64px;
}

.slider__button {
  width: 68px;
  height: 68px;
  background-color: black;
  border-radius: 50000px;
  background-repeat: no-repeat;
  background-position: center;
  border :1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.slide_left {
  background-image: url(../images/slider__button_left.svg);
  margin-right: 16px;
}

.slide_right {
  background-image: url(../images/slider__button_right.svg);
}


/* carusel */


/* higglights */
.highlights {
  margin: 0 24px 0;
  padding: 0 0 24px;
}

.highlights__title {
  font-weight: 400;
  font-size: 23px;
  line-height: 1.34;
  text-transform: uppercase;
  margin: 31px 0 22px;
  padding: 0;
}

.table {
  margin: 0;
  padding: 0;
  width: 100%;
}

.table__title {
  border-bottom: 1px solid #EBEBEB;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  text-transform: uppercase;
}

.table__subtitle {
  border-bottom: 1px solid #EBEBEB;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  text-transform: uppercase;
}

.table > tbody > tr:last-of-type > td {
  border: none;
}

.table > tbody > tr > .table__subtitle:nth-child(3) {
  text-align: right;
}

/* higglights */



/* footer */

.footer {
  background-color: #000;
  margin: 0 auto;
  height: 278px;
  color: #fff;
}

.footer__title {
  margin: 0 0 56px;
  padding: 60px 0 0;
  font-weight: 400;
  font-size: 70px;
  line-height: 72px;
  text-align: center;
}

.footer__button {
  background-color: #FFFF02;
  margin: 0 auto;
  display: block;
}
